.time {
    text-align: Center;
    padding: 32px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    border-radius: 4px;
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}